.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  background-color: rgba(237, 236, 231, 0.7);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2em;
}

.imageBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 75%;
}

.title {
  font-size: 64px;
  letter-spacing: 0.2em;
}
